---
layout: page
title: Tag index
---

{% assign rawtags = '' %}
{% for post in site.posts %}
    {% assign ttags = post.tags | join: '|' | prepend: '|' %}
    {% assign rawtags = rawtags | append: ttags %}
{% endfor %}
{% assign tags = rawtags | remove_first: '|' | split: '|' | sort | uniq %}

<div class="posts">
  {% for tag in tags %}
    {% assign postcount = 0 %}
    {% for post in site.posts %}
      {% if post.tags contains tag %}
        {% assign postcount = postcount | plus: 1 %}
      {% endif %}
    {% endfor %}
    <h2 id="{{ tag | slugify: 'pretty' }}" class="h2-on-tags-page-expanded">{{ tag | slugify: 'pretty' | escape }} ({{ postcount }})</h2>
    <ul>
      {% for post in site.posts %}
        {% if post.tags contains tag %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }} ({{ post.date | date: "%Y-%m-%d" }})</a>
            {% assign sorted_post_tags = post.tags | sort %}
            {% for post_tag in sorted_post_tags %}
              {% unless post_tag == tag %}
                <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ post_tag | slugify: 'pretty' | uri_escape }}" class="post-tag">{{ post_tag | slugify: 'pretty' | escape }}</a>
              {% endunless %}
            {% endfor %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", (event) => {
  function toggleH2(e) {
    e.stopPropagation();
    e.target.className = (e.target.className == 'h2-on-tags-page-collapsed') ? 'h2-on-tags-page-expanded' : 'h2-on-tags-page-collapsed';
  };
  document.querySelectorAll("h2.h2-on-tags-page-expanded").forEach(h2 => {
    h2.addEventListener("click", toggleH2);
    if (window.location.hash != '#' + encodeURIComponent(h2.id)) {
      h2.className = 'h2-on-tags-page-collapsed';
    }
  });
});
</script>
